#version=RHEL703
# System authorization information
auth --enableshadow --passalgo=sha512

# Use cdrom installation
cdrom

# Use text install
text

# Run the Setup Agent on first boot
firstboot --disable
ignoredisk --only-use=sda

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network Config Information
network  --hostname=rhel7.local

# Root password
rootpw --iscrypted $6$MPWt91mI$jFbGx.//Fs/JHqKnUMPAA6gsDMHH7OlZNHaWJ4vsD8v7zCXOVBJ0bY15bDv1S1ig7bdwNlp.LGeTsQeXhwiCE/

# System services
services --enabled=ntpd --disabled=chrony --disabled=firewalld --disabled=NetworkManager
# System timezone
timezone America/Chicago --isUtc --nontp

#-drock User#
user --groups=wheel --homedir=/home/drock --name=drock --password=$6$MPWt91mI$jFbGx.//Fs/JHqKnUMPAA6gsDMHH7OlZNHaWJ4vsD8v7zCXOVBJ0bY15bDv1S1ig7bdwNlp.LGeTsQeXhwiCE/ --iscrypted --uid=3334 --gecos="drock" --gid=3334

# X Window System configuration information
xconfig  --startxonboot

# License agreement
eula --agreed

# Partition clearing information 
#-BootLoader must come after this section.-RB
clearpart --all --initlabel

# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=500
part pv.144 --fstype="lvmpv" --ondisk=sda --size=50699 --grow
volgroup vg_rhel7 --pesize=4096 pv.144
logvol /  --fstype="xfs" --size=10760 --name=lv_root --vgname=vg_rhel7
logvol /var/log  --fstype="xfs" --size=2048 --name=lv_var_log --vgname=vg_rhel7
logvol /home  --fstype="xfs" --size=10480 --name=lv_home --vgname=vg_rhel7
logvol /tmp  --fstype="xfs" --size=5120 --name=lv_tmp --vgname=vg_rhel7
logvol /var  --fstype="xfs" --size=15360 --name=lv_var --vgname=vg_rhel7
logvol swap  --fstype="swap" --size=8192 --name=lv_swap --vgname=vg_rhel7
logvol /var/log/audit  --fstype="xfs" --size=2048 --name=lv_var_log_audit --vgname=vg_rhel7

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

# Reboot the host and eject CD after install
reboot --eject

%packages
@base
@core
@fonts
@x11
open-vm-tools
sssd
autofs
aide
screen
ksh
zsh
net-snmp
policycoreutils-python
nfs-utils
openscap
openscap-scanner
scap-security-guide
selinux-policy-targeted
esc
pam_pkcs11
authconfig-gtk
dracut-fips
-rhn*
-abrt*
-Red_Hat_Enterprise_Linux-Release_Notes-7*
-fprintd
-virt-what
-redhat-support*
-redhat-indexhtml

# Include CIFS utils so that windows shares can be mounted
cifs-utils

%end

%addon com_redhat_kdump --disable
%end


%post
# Fix for failing rngd.service-Not STIG related
sed -i 's/\/sbin\/rngd \-f/\/sbin\/rngd \-f \-r \/dev\/urandom \-o \/dev\/random/' /usr/lib/systemd/system/rngd.service
systemctl daemon-reload
systemctl restart rngd.service

# Add ssh key directory for drock
mkdir /home/drock/.ssh
chown drock.drock /home/drock/.ssh
chmod 700 /home/drock/.ssh

# Give drock password-less sudo
/usr/bin/printf 'drock ALL=(ALL) NOPASSWD:ALL' >> /etc/sudoers

%end

